@page
@model Lab1.Pages.UsersPages.CreateHashedLoginModel
@{
    ViewData["Title"] = "Create Account";
}
<style>
    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked),
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .checkbox-budget:checked + label,
    .checkbox-budget:not(:checked) + label {
        position: relative;
        display: inline-block;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 300px;
        font-size: 52px;
        line-height: 52px;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 auto;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        text-transform: uppercase;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear;
        -webkit-text-stroke: 1px var(--white);
        text-stroke: 1px #35154F;
        -webkit-text-fill-color: #35154F;
        text-fill-color: #35154F;
        color: #35154F;
    }


    .checkbox-budget:not(:checked) + label {
        background-color: #9582AA;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    .checkbox-budget:checked + label {
        background-color: #D8EC91;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .checkbox-budget:not(:checked) + label:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .checkbox-budget:checked + label::before,
    .checkbox-budget:not(:checked) + label::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-image: linear-gradient(138deg, var(--red), var(--yellow));
        z-index: -1;
    }

    .checkbox-budget:checked + label span,
    .checkbox-budget:not(:checked) + label span {
        position: relative;
        display: block;
    }

        .checkbox-budget:checked + label span::before,
        .checkbox-budget:not(:checked) + label span::before {
            position: absolute;
            content: attr(data-hover);
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            -webkit-text-stroke: transparent;
            -webkit-text-stroke: transparent;
            -webkit-text-fill-color: var(--white);
            -webkit-text-fill-color: var(--dark);
            color: var(--white);
            -webkit-transition: max-height 0.3s;
            -moz-transition: max-height 0.3s;
            transition: max-height 0.3s;
        }

        .checkbox-budget:not(:checked) + label span::before {
            max-height: 0;
        }

        .checkbox-budget:checked + label span::before {
            max-height: 100%;
        }

    .checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label {
        background-color: var(--light);
        -webkit-text-stroke: 1px var(--dark-blue);
        -webkit-text-stroke: 1px var(--dark-blue);
        box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
    }

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(45% - 50px);
    }

</style>

<dv class="centerCreate">
    <h1>Create Account</h1>

    <form asp-action="CreateHashedLogin">


        <div class="column1">

            <div class="form-floating mb-3">
                <input asp-for="NewUser.FirstName" type="text" required class="form-control" id="floatingInput" placeholder="First Name" />
                <label for="floatingInput">First Name</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="NewUser.LastName" type="text" required class="form-control" id="floatingInput" placeholder="Last Name" />
                <label for="floatingInput">Last Name</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Username" type="text" required class="form-control" id="floatingInput" placeholder="Username" />
                <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="NewUser.Phone" type="text" required class="form-control" id="floatingInput" placeholder="Phone" />
                <label for="floatingInput">Phone #</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" type="password" required class="form-control" id="floatingInput" placeholder="Password" />
                <label for="floatingInput">Password</label>
            </div>
        </div>
        <script>
            function ShowEmail(x) {
                if (x == 1) { 
                    document.getElementById("profEmail").style.display = 'block';
                    document.getElementById("profEmailLabel").style.display = 'block';
                }
                else { 
                    document.getElementById("profEmail").style.display = 'none';
                    document.getElementById("profEmailLabel").style.display = 'none';
                }
                return;
                console.log(ShowEmail(x))
            }
        </script>

        <label>
            <input class="checkbox-budget" type="radio" name="budget" id="budget-5" asp-for="NewUser.Position" value="Student" required onclick="ShowEmail(0)" />
            <label class="for-checkbox-budget" for="budget-5">
                <span data-hover="Student">Student</span>
            </label>
            <input class="checkbox-budget" name="budget" id="budget-6" asp-for="NewUser.Position" type="radio" value="Faculty" required onclick="ShowEmail(1)" />
            <label class="for-checkbox-budget" for="budget-6">
                <span data-hover="Faculty">Faculty</span>
            </label>


            <div class="form-floating mb-3">
                
                <input asp-for="NewUser.ProfessionalEmail" type="text" class="form-control" id="profEmail" placeholder="Professional Email" />
                <label id="profEmailLabel" style="display: none" for="floatingInput">Professional Email</label>
                
            </div>
            <input class="submitButton" type="submit" value="Create Account" />
        </label>

    </form>


    @{
        if (ViewData["UserCreate"] != null)
        {
                <p class="text-success">@ViewData["UserCreate"]</p>
        }

    }



@*@page
@model Lab1.Pages.UsersPages.CreateHashedLoginModel
@{
}



<div class="centerCreate">
    <h1>Create Account</h1>
    <form asp-action="CreateHashedLogin">
        <div class="txt-field">
            <input asp-for="NewUser.FirstName" type="text" required />
            <span></span>
            <label>First Name</label>
        </div>
        <div class="txt-field">
            <input asp-for="NewUser.LastName" type="text" required />
            <span></span>
            <label>Last Name</label>
        </div>
        <div class="txt-field">
            <input asp-for="Username" type="text" required />
            <span></span>
            <label>Email</label>
        </div>
        <div class="txt-field">
            <input asp-for="Password" type="password" required />
            <span></span>
            <label>Password</label>
        </div>
        <div class="radioSelect">
            <div class="txt-field">
            <input onclick="yesnoCheck();" asp-for="NewUser.Position" type="radio" value="Student" required/>
            <label>Student</label>
            </div>
            <div class="txt-field">
            <input onclick="yesnoCheck();" id="secondRadio" asp-for="NewUser.Position" type="radio" value="Faculty" />
            <label>Faculty</label>
            </div>
        </div>
        <div class="txt-field">
            <input asp-for="NewUser.Phone" type="text" required />
            <span></span>
            <label>Phone #</label>
        </div>
        <div class="txt-field" id="profEmail">
            <input asp-for="NewUser.ProfessionalEmail" type="text" />
            <span></span>
            <label>Professional Email</label>
        </div>
        <input class="submitButton" type="submit" value="Create Account" />
    </form>

    @{
        if (ViewData["UserCreate"] != null)
        {
                    <p class="text-success">@ViewData["UserCreate"]</p>
        }

    }

</div>
*@