@page
@using System.Data.SqlClient
@using Lab1.Pages.DB_Class;
@model Lab1.Pages.UsersPages.MessagesModel
@{
}

<a asp-page="MessageThread" asp-route-UserID="5">
    link to see my messages with admin
</a>