@page
@model Lab1.Pages.SkillsPages.AddSkillModel
@{
    ViewData["Title"] = "Add Skills";
}

<form asp-page="AddSkill">
    <input type="text" asp-for="NewSkill.SkillName" placeholder="Skill Name" />
    <br />
    <button type="submit">Add New Skill -> </button>
    <button class="btn-outline-secondary" asp-page="AddSkill" asp-page-handler="PopulateHandler" formnovalidate>Populates</button>
    <a asp-page="Index">Cancel</a>

</form>
