@page
@using System.Data.SqlClient
@using Lab1.Pages.DB_Class
@model Lab1.Pages.ProjectsPages.AddProjectModel
@{
}

<form asp-page="AddProject">
    <input class="form-control" type="text" asp-for="NewProject.ProjectName" placeholder="Project Name" />
    <br />
    <input class="form-control" type="text" asp-for="NewProject.ProjectDescription" placeholder="Description" />
    <br />
    <label> Project start date</label>
    <input class="form-control" type="date" asp-for="NewProject.ProjectBeginDate" />
    <br />
    <input class="form-control" type="text" asp-for="NewProject.ProjectDuration" placeholder="Enter Duration of Project" />
    <br />
    <input class="form-control" type="text" asp-for="NewProject.ProjectType" placeholder="Project Type" width="100" />
    <br/>
    <input class="form-control" type="text" asp-for="NewProject.DesiredSkills" placeholder="Enter Desired Skills for Project" width="100" />
    <br />
    <input class="form-control" type="text" asp-for="NewProject.GeneralTimeAvailability" placeholder="Time Availability" width="100" />
    <br />
    <select name="NewProject.UserID">
        <option value="">Select Project Owner</option>
        @{
            foreach (var owner in Model.ProjectOwners)
            {
                <option value=@owner.UserID>@owner.FirstName @owner.LastName</option>
            }
        }
    </select>
    <br />
    <button type="submit">Add New Project -> </button>
    <button class="btn-outline-secondary" asp-page="AddProject" asp-page-handler="PopulateHandler" formnovalidate>Populate</button>
    <a asp-page="Index">Cancel</a>

</form>
