@page
@using Lab1.Pages.DB_Class;
@using System.Data.SqlClient;
@model Lab1.Pages.ProjectsPages.MyProjectsModel
@{
}

<!-- Luke Dornburgh and Andres Villalon submission for Lab1 Part 3!-->
<a asp-page="Index" class="btn btn-secondary">&larr; Go Back</a>
<h2 class="h2">My Projects</h2>

<!-- Need to run the myproject query which will get all the projects we own or are a part of, check the owner id of each project to
    see if it matches the logged in user, if it does, put it in the Owned projects catergory
-->

@{

    SqlDataReader ownedProject = DBClass.MyProjectsTableReader(HttpContext.Session.GetString("username"));

    Console.WriteLine(ownedProject);


}