@page
@model Lab1.Pages.ProjectsPages.ProjectInviteModel
@{
    ViewData["Title"] = "Project Invite";
}

<a asp-page="/UsersPages/AllProfiles" class="btn btn-primary">Go Back</a>
<form asp-page="ProjectInvite">
<select asp-for="selectedProject" class="form-control">
    @{
        foreach(var proj in @Model.projectDropDown){
            <option value=@proj.ProjectID>@proj.ProjectName</option>
        }
    }
</select>
<button type="submit">Invite</button>
</form>
<div>
    You have already invited this user to the following projects: 
    @{
        while(Model.ExistingInvites.Read())
        {
            <p> @Model.ExistingInvites["ProjectName"], </p>  
        }
    }
    @{
        if(Model.inviteText != null){
            <p>@Model.inviteText</p>
        }
    }
</div>
