@page
@model BasicLoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="center">
    <h1>Login</h1>
    <form asp-action="BasicLogin">

        <div class="txt-field">
            <input asp-for="Username" type="text" required />
            <span></span>
            <label>Email</label>
        </div>
        <div class="txt-field">
            <input asp-for="Password" type="password" required />
            <span></span>
            <label>Password</label>
        </div>

        <div class="pass">Forgot Password?</div>
        <input class="submitButton" type="submit" value="Login" />

        <div class="signup-link">
            Not a member yet? <a asp-page="UsersPages/CreateHashedLogin">Sign up</a>
        </div>

    </form>


@{
    if (ViewData["LoginMessage"] != null)
    {
                <p class="text-danger">@ViewData["LoginMessage"].ToString()</p>
    }

    if (Model.alert != null){
                <script type="text/javascript">
                   myFunction.call(@HttpContext.Session.GetString("loginAlert");
                </script>
    }
}

</div>